.projects-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background: #50fa7b;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
}

.project h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 10px;
}

.project p {
  font-size: 1rem;
}
